{% extends "timetable_app/base.html" %}
{% load static %}

{% block content %}
    {% block header %}
        {% include 'timetable_app/header.html' %}
    {% endblock header %}
    <section class="cards">
        <div class="container">
            <div class="row">
                <section class="col-xl-5 col-lg-5 col-md-6 col-sm-9 col-10 start_week">

                    {% for date, one_day_value in timetable.items %}
                        {% ifchanged one_day_value.week_num %}
                            <div id="border_num_week">
                                <div id="num_week">{{ one_day_value.week_num }} неделя</div>
                            </div>
                        {% endifchanged %}

                        {% block day_card %}
                            {% include 'timetable_app/day_card.html' %}
                        {% endblock day_card %}
                    {% endfor %}

                    <div class="end_week"></div>
                </section>
                <section class="col-xl-5 col-lg-5 col-md-5 col-sm-9 col-10 start_week">
                    {% block about_container %}
                        {% include 'timetable_app/about_container.html' %}
                    {% endblock about_container %}
                </section>
            </div>
        </div>

        {% block search_modal %}
            {% include 'timetable_app/modal_windows/search_modal.html' %}
        {% endblock search_modal %}

        {% block get_ics_modal %}
            {% include 'timetable_app/modal_windows/get_ics_modal.html' %}
        {% endblock get_ics_modal %}

        {% block notification_modal %}
            {% include 'timetable_app/modal_windows/notification_modal.html' %}
        {% endblock notification_modal %}

    </section>

    {% block footer %}
        {% include 'timetable_app/footer.html' %}
    {% endblock footer %}
{% endblock content %}
